<div class="container mx-auto pb-8">
    <div class="flex flex-col items-center">
        <div class="mt-4" style="border: 5px solid #c6c6c6;">
            <div style="width: <%= @width %>;" class="game-board flex flex-wrap">
                <% for i in 0..@game_board.length - 1 do %>
                    <% for j in 0..@game_board.length - 1 do %>
                        <div class="w-10 h-10 border">
                                <div>
                                    <% if !@game_board[i][j][:is_open] %>
                                        <%= image_tag("/assets/icons/closed.svg") %>
                                    <% else %>
                                        <% if @game_board[i][j][:content] == '' %>
                                            <%= image_tag("/assets/icons/open.svg") %>
                                        <% elsif @game_board[i][j][:content] == 'flag' %>
                                            <%= image_tag("/assets/icons/flag.svg") %>
                                        <% elsif @game_board[i][j][:content] == 'bomb_exploded' %>
                                            <%= image_tag("/assets/icons/bomb_exploded.svg") %>
                                        <% elsif @game_board[i][j][:content] == 'bomb' %>
                                            <%= image_tag("/assets/icons/bomb.svg") %>
                                        <% elsif @game_board[i][j][:content] == 'number' %>
                                            <div class="relative h-full w-full flex items-center justify-center">
                                                <p class="z-10 font-black text-2xl text-color-<%= @game_board[i][j][:value] %>"><%= @game_board[i][j][:value] %></p>
                                                <%= image_tag("/assets/icons/open.svg", class: "absolute") %>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>