<div class="container mx-auto">
    <div class="flex flex-col items-center">
        <div style="width: 360px;" class="game-board flex flex-wrap">
            <% for i in 0..$row_count - 1 do %>
                <% for j in 0..$column_count - 1 do %>
                    <div class="w-10 h-10 border">
                        <a href='<%= "/#{i}/#{j}"  %>'>
                            <% if !@game_board[i][j][:is_open] %>
                                <%= image_tag("/assets/icons/closed.svg") %>
                            <% else %>
                                <% if @game_board[i][j][:content] == '' %>
                                    <%= image_tag("/assets/icons/open.svg") %>
                                <% elsif @game_board[i][j][:content] == 'flag' %>
                                    <%= image_tag("/assets/icons/flag.svg") %>
                                <% elsif @game_board[i][j][:content] == 'number' %>
                                    <div class="relative h-full w-full flex items-center justify-center">
                                        <p class="z-10 font-black text-2xl text-color-<%= @game_board[i][j][:value] %>"><%= @game_board[i][j][:value] %></p>
                                        <%= image_tag("/assets/icons/open.svg", class: "absolute") %>
                                    </div>
                                <% end %>
                            <% end %>
                        </a>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>